---
export const prerender = true 
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Datetime from "@components/Datetime.astro";
import { slugifyStr } from "@utils/slugify";
import ContentTags from "@components/ContentTags.astro";
import { Image } from "astro:assets";
import { SITE } from "@config";


export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const postResult = posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));


  return [...postResult];
}


const { post } = Astro.props;
const {data: { title, description, dateTime, tags, cover }, slug} = post;
const slugged = slugifyStr(title);
const { Content } = await post.render();




---

<Layout
  title={title}
  description={description}
  ogImage={SITE.website+ "/blog/"+ slug}
  
>


<main class="mx-auto w-full px-4 pb-12" id="main-content">
    <div class="mx-auto flex w-full  justify-start px-2">
      <button
      class=" mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
      >
      <svg xmlns="http://www.w3.org/2000/svg"
      ><path
      d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
      ></path>
    </svg><span>back</span>
  </button>
    </div>

    <Datetime datetime={dateTime} size="lg" class="my-2" />
    <h1 transition:name={slugged} class="text-2xl font-semibold text-skin-accent">{title}</h1>
    <p>{description}</p>
    <figure>
      <Image transition:name={slugged+":image"} width={450} height={450} alt="" format="avif" src={cover} class="rounded-2xl w-full p-2 aspect-video  object-cover" />
    </figure>
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      
      <Content />
    </article>
    
    <ContentTags type="tag" tags={tags} />
  </main>
</Layout>



<script>
  document.addEventListener("astro:page-load", ()=> {
    
    let anchorlinks = document.querySelectorAll('a[href^="#"]')
   
   for (let item of anchorlinks) { // relitere 
       item.addEventListener('click', (e)=> {
           let hashval = item.getAttribute('href') as string
           let target = document.querySelector(hashval) as HTMLElement
           target.scrollIntoView({
               behavior: 'smooth',
               block: 'start'
           })
           history.pushState(null, "", hashval)
           e.preventDefault()
       })
   }
  })
</script>