---
export const prerender = true 
import { getCollection } from "astro:content";
import slugify from "@utils/slugify";
import Layout from "@layouts/Layout.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime.astro";
/* @ts-ignore */
import { Icon } from "astro-icon";
import { Technologies } from "@config";
import { slugifyStr } from "@utils/slugify";
import ContentTags from "@components/ContentTags.astro";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";

import MediaCarousel from "@components/Carousel";



export async function getStaticPaths() {
  const projects = await getCollection("projects");
  const projectResults = projects.map(project => ({
    params: { slug: project.slug },
    props: { project },
})
);


  return [...projectResults];
}

const { project } = Astro.props;
const { Content } = await project.render();


const { slug, data: {title, description, media, stack, tags, dateTime, endDate}} = project;


const ogUrl = new URL(media[0].src ?? `/projects/${slug}.png`, Astro.url.origin).href;
//const img = await getImage({src: media[0]});

---

<Layout
  title={title}
  description={description}
  ogImage={ogUrl}
>

  <main class="mx-8" id="main-content">
        <div class="mx-auto flex w-full  justify-start px-2">
      <button
      class=" mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
      >
      <svg xmlns="http://www.w3.org/2000/svg"
      ><path
      d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
      ></path>
    </svg><span>back</span>
  </button>
    </div>

    
        <Datetime datetime={dateTime} endDate={endDate} size="lg" class="my-2" />
        <h1 transition:name={slug} class="text-4xl font-semibold text-skin-accent ">{title}</h1>
        <p transition:name={slug+":desc"}>{description}</p>
        <Image transition:name={slug+":cover"}  width={450} height={450} format="avif" src={media[0]} class="my-5 rounded-xl aspect-video w-full" alt="" />
        <h2 class="text-2xl mb-2 font-semibold tracking-wide text-skin-accent">Tech Stack</h2>
        <ul class="flex flex-col gap-7">
          {(stack as (keyof typeof Technologies)[]).map((t) =>
          {
           const { name, icon, url, description } = Technologies[t];
           return (
            <li>
              <a class="inline-flex gap-2" href={url}>
                <Icon transition:name={slug+":stack:"+name}  class="h-8 w-8" name={icon} />
                <h3 class="underline font-bold">{name}</h3>:
                <span class="font-thin">{description}</span>
                </a>
            </li>
            )
          }
          )}
          {
            media.length > 1 && (
              <h2 class="text-2xl font-semibold tracking-wide text-skin-accent">Gallery</h2>
              <MediaCarousel media={media.slice(1)} client:load />
            )
          }
    
    
        </div>
    <article id="article" role="article" class="prose max-w-none">
      <Content />
    </article>

      <ContentTags type="category" tags={tags} />
  </main>
</Layout>
