---
import { MY_SHOWS, HOBBIES } from "@config";
import MoviesGallery from "@components/MoviesGallery.astro";
import Tooltip from "@components/StackIconTooltip.astro";
import getShowsData from "@utils/shows";
import { techStackByType } from "@utils/getTechStack";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Socials from "@components/Socials.astro";

const showsData = await getShowsData(import.meta.env.OMDB_API_KEY, MY_SHOWS);
---

<Layout title="About" description="Mohammed Nasser | About me">
  <article>
    <h1 class="py-6 text-start text-2xl tracking-wider sm:text-3xl">About</h1>
    <div class="flex flex-col gap-12">
      <section>
        <h2 tabindex="0">
          Contact Me <Socials class="scale-100 place-self-start" />
        </h2>
        <section id="tech-stack-section">
          <h2 tabindex="0">Tech Stack</h2>
          <ul class="flex flex-col gap-4">
            {
              Object.entries(techStackByType).map(([type, stack]) => {
                return (
                  <li class="flex flex-col gap-1">
                    <div class="flex flex-col gap-2 rounded-lg  bg-skin-fill p-5">
                      <h3 aria- class=" font-bold">
                        {type}
                      </h3>
                      <ul class="flex gap-4 overflow-visible overflow-x-auto rounded-lg p-2">
                        {stack.map(({ name, icon, url, description }) => (
                          <li>
                            <Tooltip
                              delayDuration={800}
                              name={name}
                              icon={icon}
                              url={url}
                              description={description}
                            />
                          </li>
                        ))}
                      </ul>
                    </div>
                  </li>
                );
              })
            }
          </ul>
        </section>
        <section>
          <h2 tabindex="0">Hobbies and Interests</h2>
          <ul class="grid grid-cols-2 justify-center gap-3 sm:grid-cols-3">
            {
              HOBBIES.map(hobby => (
                <li
                  tabindex="0"
                  class="flex gap-5 rounded-lg  bg-skin-fill px-5 py-2"
                >
                  <Icon name={hobby.icon} class="size-9" />
                  <span class="place-self-center">{hobby.name}</span>
                </li>
              ))
            }
          </ul>
        </section>
        <section>
          <h2 tabindex="0">Movies and TV Suggestions</h2>
          <MoviesGallery showsData={showsData} />
        </section>
      </section>
    </div>
  </article>

  <style>
    section {
      @apply flex  w-full flex-col gap-2 justify-self-start;
    }

    h2 {
      @apply text-start text-xl tracking-wider  sm:text-2xl;
    }
    .toast-title {
      @apply text-xl font-bold text-skin-accent;
    }
  </style>
</Layout>
