---
/* import nodemailer from "nodemailer" ;
const transporter  = nodemailer.createTransport({
  host: "sandbox.smtp.mailtrap.io",
  port: 2525,
  auth: {
    user: "4f070bd49b0d93",
    pass: "362872e17f4e92"
  } 
});
const info = await transporter.sendMail({
    from: '"Fred Foo 👻" <foo@example.com>', // sender address
    to: "mohammednh2864@gmail.com", // list of receivers
    subject: "Hello ✔", // Subject line
    text: "Hello world?", // plain text body
    html: "<b>Hello world?</b>", // html body
  });
  console.log(info) */

const getShow = async (showName:string) => {
  const res = await fetch(`https://www.omdbapi.com/?t=${showName}&apikey=50788f34`,  {cache: 'force-cache'});
  const data = await res.json();
  return data as Show;
}
import { Image } from "astro-preload/components";
import Layout from "@layouts/Layout.astro";
import Socials from "@components/Socials.astro";
import Icon from "astro-icon";



const showsList = [
  "silicon_valley",
  "bojack_horseman",
  "brooklyn_nine_nine",
  "the_big_bang_theory",
  "daredevil",
  "the_boys",
  "invincible",
  "rick_and_morty",
];

const hobbies = [
  { name: "coding personal projects", icon: "ph:code-bold"},
  { name: "playing video games", icon: "cil:gamepad"},
  { name: "3d modeling with blender", icon: "carbon:chart-3d"},
  { name: "watching tv shows", icon: "ic:round-tv"},
  { name: "cooking food", icon: "ph:cooking-pot-bold"},

]

const showsData = showsList.map( async showName => {
  const value = await getShow(showName)
  return value
});



type Show = {
    "Title": string,
    "Year": string,
    "Rated": string,
    "Released": string,
    "Runtime": string,
    "Genre": string,
    "Director": string,
    "Writer": string,
    "Actors": string,
    "Plot": string,
    "Language": string,
    "Country": string,
    "Awards": string,
    "Poster": string,
    "Ratings": {Source:string, Value:string}[],
    "Metascore": string,
    "imdbRating": string,
    "imdbVotes": string,
    "imdbID": string,
    "Type": string,
    "DVD": string,
    "BoxOffice": string,
    "Production": string,
    "Website": string,
    "Response": string
}

---

<Layout title="about">


<style>
    path {
        fill: red;
    }

</style>
  <div class=" flex flex-col gap-8 ">
    <h1 >About</h1>
    <section>
        <h2>Education</h2>
        Helwan Univeristy, duh
    </section>
    <section>
        <h2>My Contacts</h2>
        <Socials class="scale-100 place-self-start"  />
    </section>
    <section>
        <h2>Intersest And Activities</h2>
        <div class="flex flex-col  justify-center gap-3 ">

          {hobbies.map(hobby => 
        <div class="px-5">
          <Icon name={hobby.icon}
          class="h-5 w-5" />
          {hobby.name}</div>)}
          </div>
    </section>
    <section>
        <h2>Shows I like</h2>
        <div class="grid sm:grid-cols-4 grid-cols-2 place-content-stretch justify-stretch gap-5">
        {
        showsData.map( async (data) => {
          const {imdbID, Poster, Title} = await data;
            return (
              <a href={`https://www.imdb.com/title/${imdbID}`}>
                <div class="group relative h-full w-full">
                  <Image width={300} height={300} url={Poster} class=" h-full w-full rounded-xl" alt="" />
                  <div class="absolute left-0 top-0  hidden h-full w-full  rounded-xl bg-gradient-to-b from-[rgba(0,0,0,0)] from-70% to-skin-accent opacity-80 duration-500 group-hover:block" />
                  <span class="absolute bottom-0 left-0  hidden p-3 text-lg font-bold text-white duration-300 group-hover:flex">{Title}</span>
                </div>
              </a>
            );
          })
         }
      </div>
    </section>
  </div>

</Layout>


<style>

section{
  @apply justify-self-start  w-full flex flex-col gap-2  
}


  h1 {
    @apply text-2xl tracking-wider sm:text-3xl text-start py-6;
  }
  h2 {
    @apply text-xl tracking-wider sm:text-2xl  text-start ;
  }
</style>
