---
export const prerender = true;

import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/PostCard";
import ProjectCard from "@components/ProjectCard.astro";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";


const posts = await getCollection("blog");
const projects = await getCollection("projects"); 

const sortedPosts = getSortedPosts(posts);

const socialCount = SOCIALS.filter(social => social.active).length;
---


<Layout title="home" description="Mohammed Nasser's personal blog">
    <section id="hero">
      <h1 class="mr-2">Mohammed Nasser</h1>
      <p>
        I'm a computer engineering Student, Tech Enthusiast, freelancer, 
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
            <div class="social-links font-bold">Follow Me on: <Socials /></div> 
        )
      }
    </section>

    <Hr />

    {
      projects.length > 0 && (
        <>
          <section id="projects">
            <h2>Projects</h2>
            <ul>
              {projects.map(({ data }) => (
                <ProjectCard
                  href={`/my-projects/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          read more...
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>



</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #projects, #recent-posts {
    @apply pb-6 pt-12;
  }
  #projects h2, #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
