---
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");
const breadcrumbList = currentUrlPath.split("/").slice(1);
const currentPage = parseInt(Astro.url.searchParams.get("page") || "1");
const currentPageStr = currentPage === 1 ? "" : `(page ${currentPage})`; ;
import { Icon } from "astro-iconify";


// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
if (breadcrumbList[0] === "posts" && currentPage != 1) {
  breadcrumbList.splice(0, 2, `posts ${currentPageStr}`)
  
}
---

<nav  class="  mx-3 mt-3 justify-self-center bg-skin-card-muted/20 rounded-lg px-2 py-1 text-lg  " aria-label="breadcrumb">
    <ul class="flex gap-2 ">
    <a class=" text-skin-accent/50 font-bold  " href="/"> 
      
      <Icon name={"majesticons:home"}  />

    </a>
    
      <span class=" slash" aria-hidden="true">/</span>
      {
        breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
            <span aria-current="page" class="text-skin-base/50 truncate" >{decodeURIComponent(breadcrumb)}</span>
        ) : (
          <a class="text-skin-accent/50 font-bold " href={`/${breadcrumb}`}>{breadcrumb}</a>
              <span class="slash" aria-hidden="true">/</span>
            
        )
      )
    }
    </ul>
    </nav> 

<style >


.slash {
  @apply font-extralight text-skin-base/50 text-xl;
}
.breadcrumb ul li a {
    @apply opacity-70 ; 
  }
  .breadcrumb ul li span {
    @apply opacity-70 truncate;
  }
  .breadcrumb ul li:not(:last-child) a {
    @apply hover:opacity-100;
  }
 

</style>
