---
import { Icon } from "astro-icon";
import {techStackByType} from "@utils/getTechStack";
---


<div class="scroller overflow-visible w-full h-full">

  <ul id="tech-stack" class="w-full flex justify-between gap-10  p-5 " style={{animation: `scroll 30s linear infinite forwards`}}>
    {
      
      Object.entries(techStackByType).map(([type, stack])=>{
        return (
          <div class="stackType  flex flex-col group " data-type={type}>
            <div class="flex bg-skin-accent bg-opacity-0 transition-all hover:bg-opacity-10 p-3 rounded-lg gap-10">
              {
                stack.map(({name, icon, url})=> 
                (
                  <li class="stack group/tech flex flex-col justify-center  gap-5 ">
                    <Icon class="size-14 grid place-self-center cursor-pointer hover:scale-125 transition-all " name={icon} />
                    <a href={url}>
                      <h3 class="h-0  z-[1000] text-xl font-bold place-self-center scale-y-0 group-hover/tech:opacity-100 group-hover/tech:scale-y-100 transition-all text-center">{name}</h3>
                      </a>
                      </li>
                      ) )
                    }
              </div>
              </div>
            )
          })
          
        }
        </ul>

      </div>



<style>


@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300%);
  }
}

.scroller {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

</style>

<script>
  document.addEventListener("astro:page-load", ()=> {
    const suffix = document.querySelector("#suffix") as HTMLElement;
    const techStack = document.querySelector("#tech-stack") as HTMLElement;
    [...document.querySelectorAll(".stackType") as NodeListOf<HTMLDataElement>].map((el) => {
      el.addEventListener("mouseover", () => {
        techStack.style.setProperty("animation-play-state", "paused" );
        suffix.innerText =  String(el.dataset.type) 
      }),
      el.addEventListener("mouseout", () => {
        suffix.innerText = "\n"
        techStack.style.setProperty("animation-play-state", "running" );
      })
      
    })
  })
</script>