---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-preload/components";
import { Technologies } from "../types";

type Technologies = keyof typeof Technologies;

interface Props {
  href?: string;
  frontmatter: CollectionEntry<"projects">["data"];
  secHeading?: boolean;
}





const {
  frontmatter: { title, startDate, endDate, description, cover, stack, projectURL},
  href,
  secHeading,
} = Astro.props;
const flagColor = projectURL ? "project-available" : "under-construction"

const slug = slugifyStr(title);

console.log(cover)

---

<li class="my-6 text-white">
  <div class="group relative h-full w-full">
    <img transition:name={slug+":cover"} src={cover}  class="rounded-xl" alt="" />
    <div class="absolute bottom-0  hidden h-full w-full rounded-xl bg-gradient-to-b from-[rgba(0,0,0,0)] from-30% to-skin-accent opacity-100 duration-1000 hover:transition-[opacity] group-hover:block" />
  <span
  class=" absolute bottom-0 left-0 opacity-0 w-full justify-between place-items-end h-full p-3 text-xl font-bold duration-300 transition-opacity pointer-events-none   group-hover:pointer-events-auto  group-hover:opacity-100  flex"
  >
  <a href={projectURL} class={`h-10 w-10 triangle absolute right-0 top-0 cursor-pointer rounded-tr-xl border-t-transparent border-b-transparent border-l-transparent ${flagColor} ${projectURL?"":"pointer-events-none"} `} >
    <Icon class="h-10 w-10 bg-red-500  rotate-45  float-right translate-x-24 translate-y-[24px]" name={projectURL?"teenyicons:github-solid":"ic:twotone-construction"}>
  </a>
      <span class=" flex flex-col  gap-2">
        
        <a href={href}>
          <Datetime datetime={startDate} endDate={endDate} size="sm" className="my-2 inline-block text-xs font-extralight transform origin-bottom-left translate-y-2 scale-75" />
          <h2 class="text-lg sm:text-2xl font-bold " transition:name={slug}>{title}</h2>
          <h3 class="sm:text-sm text-xs font-thin " transition:name={slug+":desc"}>{description}</h3>
        </a>
        
        <div class="flex justify-stretch gap-2 w-full place-content-center place-items-center ">
          {(stack as Technologies[]).map(( technology ) =>
            <Icon transition:name={slug+":stack:"+Technologies[technology].name} class={"sm:h-8 sm:w-8 invert  "} name={Technologies[technology].icon} />
          )}
        </div>
      </span>
      
    </span>
  </div>

</li>


<style>
  .center-abs {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }


  .triangle{
	width: 0;
	height: 0;
	border-width: 0 125px 125px 0;
	border-style: solid;
}
.under-construction {
  border-right-color:  #FAD02C ;
}
.project-available {
  border-right-color: #101010 ;
}

</style>
