---
import Tag from "./Tag.astro"
export interface Props {
    tags: string[]
    allTags: string[]
    isTags?: boolean
}
const {tags, allTags, isTags} = Astro.props



---
<form method="post" class="grid">

    <ul class="grid gap-3 justify-stretch  grid-cols-2 sm:grid-cols-3 overflow-auto p-3 ">
        {(isTags ? tags : allTags).map((tag) => 
        <label for={tag} class="relative ">
            <input name={tag} id={tag} type="checkbox" hidden class="peer absolute top-[10px] right-5 rounded-full h-6 w-6  accent-[rgb(var(--color-accent))]"/>
            <Tag name={tag} size="lg" type="category" class="pr-10 w-full peer-checked:ring-2 peer-checked:ring-skin-accent   peer-checked:text-skin-accent peer-checked:[&>*:nth-child(1)]:[&>*:nth-child(1)]:fill-skin-accent  " />
        </label>
        
        )}
    </ul>
    <button type="submit" class=" bg-skin-accent/50 rounded-2xl py-5  px-9 w-40 place-self-center text-lg font-bold m-3"> 
        Search
    </button >

</form>

<script>
    import { navigate } from 'astro:transitions/client';
    import {$items} from "@utils/checksStore"
    document.querySelectorAll("input[type=checkbox]").forEach((input)=>{
        input.addEventListener("change", (e)=>{
          const name = (e.target as HTMLInputElement).name
          $items.toggle(name)
        })
    })
    addEventListener("submit", (e) => {
      e.preventDefault()
      const form = e.target as HTMLFormElement
      const url = new URL(window.location.href)
      const inputs = form.querySelectorAll("input[type=checkbox]") as NodeListOf<HTMLInputElement>
      const tags = [...inputs].filter((input)=>input.checked)
      const path = url.origin + "/posts?" + tags.map((input)=>'tag='+input.name).join("&")
      navigate(path, {

      })
    })
  </script>