---
import { SITE, type NAV_LINKS } from "@config";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";
import Batman from "./batman.astro";
import Main from "./Main.astro";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";
import Footer from "@components/Footer.astro";

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;



type MainProps = {
  pageTitle: string;
  pageDesc?: string;
  titleTransition: string;
}




export  interface Props {
  title: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}



const {
  title,
  author = SITE.author,
  description,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const {title:siteTitle, desc:siteDesc} = SITE

const mainProps:MainProps = {
  pageTitle: title,
  pageDesc: description,
  titleTransition: title
}

const socialImageURL = new URL(
  ogImage ?? SITE.ogImage ?? "og.png",
  Astro.url.origin
).href;
---

<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{siteTitle} | {title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />

    <meta name="theme-color" content="" />

    {
      /*  If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
    include google-site-verification tag in the heading
     Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
    */
    }
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
    <ViewTransitions />

    <script is:inline src="/toggle-theme.js"></script>
    <script src="./BATMAN.js"></script>
  </head>
  <body class="w-full h-full sm:py-7" >  
    <div style="background-color: rgba(var(--color-fill-ligher), 0.6);" class=" sm:max-w-4xl  place-self-center sm:rounded-3xl border-[1px] border-black/10   drop-shadow-2xl h-full w-full  px-4 ">
      <Header path={title}/>
      <Batman />
      <Hr />
      <Main {...mainProps}> 
        <slot />
      </Main>
      <Footer />
  </div> 
  </body>
</html>


