---
import { SITE } from "@config";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";
import Batman from "@components/batman.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Scroller from "@components/Scroller.astro";

import trim from "@utils/trim";







const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

const toTitleCase = function (str: string) {
    return str.replace(/\w\S*/g, function(txt: string){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};

export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

let {
  title = SITE.title,
  description = SITE.desc,
  ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href; 

const { title: siteTitle } = SITE;

const path = title;
const pageTitle = siteTitle + " | " + toTitleCase(title);


const socialImageURL = ogImage ?? trim(canonicalURL, "/") + ".png";
---

<!doctype html>
<html class="h-full w-full motion-safe:scroll-smooth overscroll-y-contain"  lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <!-- General Meta Tags -->
    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    <meta name="description" content={description} />
    <meta name="author" content={SITE.author} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={pageTitle} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Nunito:wght@700;1000&display=swap" />

    <meta name="theme-color" content="" />

    

    {
      /*  If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
    include google-site-verification tag in the heading
     Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
    */
    }
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
    <ViewTransitions />

    <script is:inline src="/assets/js/toggle-theme.js"></script>
    <style>
      #main-body:nth-child(3){
        container-name: main-body;
        container-type: size;
      }

    </style>

  </head> 
  <body class="h-full ">

      
    <svg id="batman-pattern" class="w-full h-full rotate-45 fixed -z-10  pointer-events-none" xmlns="http://www.w3.org/2000/svg" >
      <pattern id="Pattern"  width="0.02" height="0.03">
        <path stroke-width="2" fill="none"  class=" scale-[0.2] stroke-skin-accent    opacity-90   "  d="M189.63 157.574C195.864 157.574 202.672 159.56 209.865 163.482C227.386 173.032 242.416 205.772 249.999 225C257.584 205.772 272.608 173.032 290.133 163.482C297.325 159.56 304.134 157.574 310.364 157.574C322.952 157.574 330.059 165.333 333.881 169.5L334.677 170.363C337.625 173.497 341.82 178.891 344.87 182.937C353.83 173.985 374.466 156.005 395.858 155.804H396.337C407.299 155.804 415.7 159.348 421.308 166.335C429.989 177.152 428.509 191.938 427.472 197.795C426.424 203.703 424.168 210.053 421.817 215.58C421.817 215.58 491.574 173.58 499.026 127.675C507.61 74.8116 457.784 39.0758 414.472 18.4045C400.645 11.8048 380.24 5.03009 366.369 0.731695C376.266 18.6943 382.408 45.0069 363.017 66.9235C353.302 77.9048 341.021 83.7096 327.501 83.7096C303.299 83.7096 279.251 64.6194 276.04 42.8577C273.958 28.7573 272.83 12.5049 272.224 0L266.489 10.4619C265.485 12.2897 263.585 13.4777 261.572 13.36L249.888 13.119L238.426 13.36C236.34 13.4547 234.51 12.2897 233.509 10.4619L227.773 0C227.168 12.5021 226.039 28.7573 223.957 42.8577C220.744 64.6194 196.699 83.7096 172.496 83.7096C158.976 83.7096 146.698 77.9048 136.983 66.9235C117.592 45.004 123.734 18.6943 133.634 0.731695C119.763 5.02722 99.3546 11.8019 85.5277 18.4045C42.2164 39.0758 -7.61019 74.8144 0.973549 127.675C8.42901 173.58 54.4587 203.178 78.1829 215.58C75.8351 210.053 73.5786 203.7 72.5305 197.795C71.4907 191.938 70.0084 177.152 78.689 166.338C84.2972 159.348 92.7012 155.804 103.666 155.804H104.144C125.537 156.005 146.172 173.985 155.132 182.937C158.183 178.891 162.375 173.497 165.326 170.36L166.127 169.494C169.941 165.33 177.051 157.574 189.63 157.574Z" />
      </pattern>
      <rect fill="url(#Pattern)" y="-1000"  width="500%" height="500%" />
    </svg>

    <Batman />

    <div
      style="background-color: rgba(var(--color-fill-ligher), 0.6);"
      class="flex flex-col place-self-center border-[1px] border-black/10 px-4 drop-shadow-3xl md:max-w-4xl md:rounded-3xl overflow-hidden md:my-7  w-full h-full"
    >
    <Header path={path} />
    <main  class="flex-1 overflow-y-auto overflow-x-clip place-self-center w-full pb-8 " id="main-body" >
        <Scroller />
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

